@media screen and (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    z-index: 20;
  }

  .header__btn_pos {
    margin-right: 30px;
    padding: 12px 16px;
  }

  .burger {
    width: 50px;
    height: 40px;
    display: block;
    margin-right: 20px;
    position: relative;
  }

  .burger::after,
.burger::before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: #fff;
    height: 2px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .burger::after {
    bottom: 0;
  }

  .burger::before {
    top: 0;
  }

  .burger span {
    width: 100%;
    background-color: #fff;
    height: 2px;
    position: absolute;
    top: 18px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .header__menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    background-color: #000;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .menu__list {
    margin-top: 40%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .menu__list li {
    margin-bottom: 50px;
  }
  .menu__list li + li {
    margin-left: 0;
  }

  .menu__link {
    font-size: 25px;
  }

  .header__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 18px;
  }

  .burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 20px;
  }

  .burger.active span {
    display: none;
  }

  .header__menu.active {
    right: 0;
  }

  .icons_body{
    flex-direction: column;
  }

  .d3_icons_photo{
    margin-top: 20px;
  }

  .icons_text{
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
  }

  .d3_icons {
    flex-wrap: wrap;
  }

  .d3_icons_txt{
    text-align: center;
    width: 100%;
  }

  .d3_icons_photo img{
    width: 100%;
  }

  .big_icons{
    flex-wrap: wrap;
  }

  .big_icons .container h2{
    text-align: center;
    width: 100%;

  }

  .big_icons_photo img{
    width: 100%;
  }
  .logo__link img{
    width: 130px;
  }
  .hero__about{
    text-align: center;
    margin: 50px auto;
  }
  .hero__content {
    padding-top: 155px;
  }
  .icons_subtitle{
    padding-left: 0;
  }
  .icons_dog_body{
    flex-direction: column-reverse;
    align-items: center;
  }
  .icons_dog_text{
    margin-left: 0;
    text-align: center;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 466px){
  .logo__link img{
    width: 120px;
  }
  .header__btn_pos {
    margin-right: 20px;
    padding: 10px 14px;
  }
  .burger{
    width: 40px;
    height: 30px;
  }
  .burger span{
    top: 14px;
  }
  .burger.active::after{
    bottom: 11px;
  }
}

@media(max-width: 1024px){
  .hero__content {
    padding-top: 67px;
  }

  .icons_body .phone{
    width: 55%;
  }

  .d3_icons_photo img{
    width: 100%;
  }

  .big_icons_photo img{
    width: 100%;
  }
}

@media(max-width: 425px){
  .header__body {
    padding-top: 15px;
  }

  .hero__title {
    font-size: 48px;
    line-height: 55px;
  }

  .hero__content {
    padding-top: 0px;
  }

  .icons_body .icons_text{
    width: 100%;
    text-align: center;
    left: 50%;
  }
  
  .icons_body .phone{
    width: 100%;
  }

  .icons_dog_body{
    flex-wrap: wrap;
  }
  .icons_dog_body img{
    width: 100%;
  }

  .icons_dog_body .icons_dog_text{
    width: 100%;
    margin-left: 0px;
  }

  .icons_text{
    width: 100%;
  }

  .icons_dog_text {
    text-align: center;
  }
}

@media(max-width: 375px){
  .hero__content {
    padding-top: 25px;
  }
  .hero__about h1{
    font-size: 40px;
    line-height: 55px;
  }
}

@media(max-width: 320px){
  .hero__content {
    padding-top: 10px;
  }
  .hero__about h1{
    font-size: 35px;
    line-height: 50px;
  }
}

@media screen and (max-width: 480px) {
  .key_body h2 {
    font-size: 45px;
  }
  .key_body p{
    font-size: 15px;
  }
}

/* end */