*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  font-family: "Manrope", sans-serif;
}

button {
  cursor: pointer;
  border: 0;
}

a {
    text-decoration: none;
}

li {
  font-style: none;
}

.container {
  max-width: 1210px;
  padding: 0 10px;
  margin: 0 auto;
}