*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  font-family: "Manrope", sans-serif;
}

.hero__title {
  font-size: 48px;
  line-height: 62px;
}

.btn, .header__btn {
  border-radius: 200px;
  background-color: #9400FF;
  text-transform: capitalize;
  font-family: "IBM Plex Mono", monospace;
}

.btn:hover, .header__btn:hover {
  background-color: #9400FF00;
  -webkit-box-shadow: 0px 0px 0px 1px #9400ff inset;
          box-shadow: 0px 0px 0px 1px #9400ff inset;
  color: #9400FF;
}

button {
  cursor: pointer;
  border: 0;
}

li {
  font-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1210px;
  padding: 0 10px;
  margin: 0 auto;
}

.hero {
  height: 100vh;
  background: url(../img/leading.png) no-repeat center;
  background-size: cover;
  overflow: hidden;
  z-index: 1;
  background-attachment: fixed;
}

.header {
  width: 100%;
  min-height: 70px;
  font-family: "IBM Plex Mono", monospace;
}

.header__body {
  padding-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__list li + li {
  margin-left: 40px;
}
.menu__list li {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.menu__list li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.menu__list li:hover a {
  color: #9400FF;
}

.menu__link {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.header__btn {
  padding: 4px 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hero__content {
  padding-top: 115px;
}

.hero__about {
  max-width: 578px;
}

.hero__comment {
  line-height: 25px;
}

.icons {
  margin: 101px 112.5px;
}

.icons_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons_title{
  width: 450px;
  font-size: 48px;
  line-height: 62px;
  padding-bottom: 22px;
}

.icons_title p{
  line-height: 30px;
}

.icons_text{
  line-height: 30px;
  max-width: 410px;
}

.pohone{
  flex-basis: 979px;
}

.icons_btn{
  font-size: 13px;
  font-family: "IBM Plex Mono";
  background-color: #9400FF;
  padding: 15px 42px;
  border-radius: 200px;
  margin-top: 55px;
}

.icons_subtitle{
  margin-bottom: 54px;
  padding-left: 30px;
}

.hero__title {
  padding: 14px 0 58px 0;
}

.btn {
  padding: 15px 42px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.d3_icons{
  display: flex;
}

.d3_icons_txt {
  font-family: "Manrope";
  font-size: 29px;
  text-align: center;
}
.d3_icons_photo {
  text-align: center;
}