@import "null.scss";

.burger{
    display: none;
}

.hero{
    height: 100vh;
    background: url(../img/leading.png) no-repeat center;
    background-size: cover;
    overflow: hidden;
    z-index: 1;
    background-attachment: fixed;
}

.header{
    width: 100%;
    min-height: 70px;
    font-family: 'IBM Plex Mono', monospace;
}

.header__body{
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list{
    display: flex;
    li + li{
        margin-left: 40px;
    }
    & li{
        transition: all 0.3s ease-out;
    }
    & li:hover{
        & a{
            color: #9400FF;
        }
        transform: scale(1.1);
    }
}

.menu__link{
    transition: all 0.3s ease-out;
}

.header__btn{
    @extend %btn;
    padding: 4px 16px;
    transition: all 0.3s ease;
}

// about

.hero__content{
    padding-top: 115px;
}

.hero__about{
    max-width: 578px;
}

.hero__comment{
    line-height: 25px;
}

.hero__title{
    @extend %title-main;
    padding: 14px 0 58px 0;
}

.btn{
    @extend %btn;
    padding: 15px 42px;
    transition: all 0.3s ease;
}