*, *::after, *::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #000;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    font-family: 'Manrope', sans-serif;
}

%title-main{
    font-size: 48px;
    line-height: 62px;
}

%title-second{
    font-size: 29px;
    line-height: 40px;
}

%btn{
    border-radius: 200px;
    background-color: #9400FF;
    text-transform: capitalize;
    font-family: 'IBM Plex Mono', monospace;
}

button{
    cursor: pointer;
    border: 0;
}

li{
    font-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

.container{
    max-width: 1210px;
    padding: 0 10px;
    margin: 0 auto;
}